<DOCTYPE html>
<html>
<head>
   <title> This page is displayed when user presses nomoreitems button</title>
   <link rel="stylesheet" href="myshop1styling/myshop1style2.css">

 </head>
<body>
    <p id="displaylist"> </p>
    <pre> THANKYOU FOR USING MEDSHOP  ! </pre>
    <script> //document.write(medical supplies[])
    document.getElementById("displaylist").innerHTML = "medicalsupplies";
    document.getElementById("nomoreitems").innerHTML = nl;</script>


<p id="nomoreitems">  </p>
</body>

</html>
<!--  <link rel="stylesheet" href="myshopstyling/myshopstyle2.css">-->
